.Main{
    padding: 20em;
    font-size: 2rem;
    color: rgb(255,127,80);    
    font-family: sans-serif;
    font-weight: bold;

}

.Books{
    font-size: 1rem;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(250, 250, 250);
}