.Main{
    font-size: 2rem;
    color: coral;
    font-family: sans-serif;
    font-weight: bold;

}

.Books{
    font-size: 1rem;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}